bin/nvim
src/zsh/plugins.d
src/zsh/fpaths.d
src/zsh/history
src/zsh/update_flag
src/nvim/lazy-lock.json
src/nvim/lazyvim.json
src/lazygit/state.yml
src/btop/btop.log
src/btop/btop.conf
# src/nix/home-manager/flake.lock
