@import "catppuccin-mocha"
configuration {
    matching:          "fuzzy";
    sort:              true;
    sorting-method:    "fzf";
    drun-match-fields: "name,generic,keywords";
    drun-show-actions: true;
    show-icons:        true;
    icon-theme:        "Tela-circle-purple-dark";
    lines:             10;
}
@theme "catppuccin-default"
