@import "catppuccin-mocha"
configuration {
    matching:          "fuzzy";
    sort:              true;
    levenshtein-sort:  true;
    drun-show-actions: true;
    show-icons:        true;
    icon-theme:        "Tela-circle-purple-dark";
    lines:             10;
}
@theme "catppuccin-default"
