[Unit]
Description=Reload Waybar when power-profiles-daemon starts
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.stubbe/src/hypr/scripts/wait_for_power_profiles.sh
Restart=no

[Install]
WantedBy=default.target

